<style>
  body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    margin-bottom: 10px;
  }
</style>

<div class="container">
  <h1>Система для перевірки знань</h1>

  <p>Система для оцінювання знань ставить на перший план потреби та вимоги користувачів, а також забезпечує повний спектр функцій управління процесом навчання.</p>
  <p>У навчальних закладах студенти здобувачі освіти часто стикаються з труднощами у проведенні тестування рівня освоєння знань, що може викликати невиконання навчального плану та ухилення від деяких дисциплін.</p>
  <p>Цей факт стає все більш серйозним, зважаючи на важливість деяких дисциплін для професійного розвитку здобувачів освіти у науковій галузі. Тому, цікаво дослідити фактори, які впливають на труднощі студентів, щоб визначити стратегії подолання цих проблем.</p>
  <p>Створювана система надає можливість користувачам ефективно керувати усіма аспектами циклу навчання, включаючи отримання загальної інформації про користувачів, ідентифікацію потенційних користувачів, подальшу роботу з ними та підтримку постійних клієнтів.</p>
</div>